body {
  background-image: url("../img/petal_faling_img.gif");
  background-size: contain;
  margin: auto;
  display: flex;
  justify-content: center;
}

.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 500px) {
  body {
    background-image: none;
    display: flex;
    justify-content: center;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.item_Main {
  background-color: whitesmoke;
  width: 100%;
  max-width: 800px;
  min-width: 375px;
}

.item_TextTitle {
  background-color: whitesmoke;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
  max-width: 800px;
  min-width: 375px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.item_TextArea {
  background-color: whitesmoke;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  max-width: 800px;
  min-width: 375px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.item_Icon {
  background-color: whitesmoke;
  width: 100%;
  padding-top: 20px;
  max-width: 800px;
  min-width: 375px;
}

.item_Icon div {
  background-color: whitesmoke;
  width: 50%;
  text-align: center;
}

.item_Icon div:hover {
  cursor: pointer;
}

.item_Photo {
  background-color: whitesmoke;
  width: 100%;
  max-width: 800px;
  min-width: 375px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3px;
  column-gap: 3px;
  /* gap: 5px; */
}

.item_PhotoContainer {
  width: 100%;
  position: relative;
  text-align: center;
}

.item_PhotoContainer::after {
  display: block;
  content: "";
  padding-bottom: 100%;
}

.item_PhotoCard {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.item_PhotoCard:hover {
  cursor: pointer;
}

.item_LoadMap {
  background-color: whitesmoke;
  width: 100%;
  max-width: 800px;
  min-width: 375px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.item_MessageInput {
  background-color: whitesmoke;
  text-align: center;
  width: 100%;
  max-width: 800px;
  min-width: 375px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.item_MessageInput ul {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 80%;
}

.item_MessageInput li {
  border-bottom: 1px solid gray;
  padding: 10px 0;
}

.item_MessageInput span {
  display: inline-block;
  text-align: left;
  width: 20%;
  font-size: 0.9rem;
}

.item_MessageInput input {
  background-color: whitesmoke;
  border: none;
  width: 75%;
}

.item_MessageInput input:focus {
  outline: none;
}

.item_MessageInput button {
  background-color: burlywood;
  border: none;
  width: 80%;
  height: 4vh;
  box-shadow: 1px 1px 1px black;
  transition-duration: 0.3s;
}

.item_MessageInput button:hover {
  cursor: pointer;
}

.item_MessageInput button:active {
  box-shadow: none;
}

.item_MessageList {
  background-color: whitesmoke;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  min-width: 375px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.item_MessageList div {
  background-color: white;
  width: 71%;
  border: 1px solid gray;
  padding: 10px 20px 0px 20px;
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.item_MessageList span {
  color: gray;
  font-style: italic;
}

.item_Blank {
  background-color: rgb(205, 213, 221);
  width: 100%;
  flex-basis: 7px;
  max-width: 800px;
  min-width: 375px;
}

.fa-trash-alt:hover {
  cursor: pointer;
}


