<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wedding Invitation</title>
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <!-- <link th:href="@{/css/main.css}" rel="stylesheet" /> -->
</head>
<body>
    <div class="container">
        <div class="item_Main">
            <img src="../static/img/main_img.jpg" style="width: 100%;" alt=""/>
        </div>
        <div class="item_TextTitle">
            결혼합니다.
        </div>
        <div class="item_TextArea">
            <p>새로운 마음과 새 의미를 간직하며</p>
            <p>저희 두 사람이 새 출발의 첫 걸음을 내딛습니다.</p>
            <p>좋은 꿈, 바른 뜻으로 올바르게 살 수 있도록</p>
            <p>축복과 격려 주시면 더 없는 기쁨으로</p>
            <p>간직하겠습니다.</p>
        </div>
        <div class="item_Blank"></div>
        <div class="item_Icon">
            <div style="float: left;">
                <i class="fas fa-male fa-3x"></i>
                <p>신랑측 연락하기</p>
            </div>
            <div style="float: right;">
                <i class="fas fa-female fa-3x"></i>
                <p>신부측 연락하기</p>
            </div>
        </div>
        <div class="item_Blank"></div>
        <div class="item_TextTitle">
            Wedding Photo
        </div>
        <div class="item_Photo">
            <div class="item_PhotoContainer">
                <div class="item_PhotoCard">
                    <img src="../static/img/photo_1.jpg" width="100%"/>
                </div>
            </div>
            <div class="item_PhotoContainer">
                <div class="item_PhotoCard">
                    <img src="../static/img/photo_2.jpg" width="100%"/>
                </div>
            </div>
            <div class="item_PhotoContainer">
                <div class="item_PhotoCard">
                    <img src="../static/img/photo_3.jpg" width="100%"/>
                </div>
            </div>
            <div class="item_PhotoContainer">
                <div class="item_PhotoCard">
                    <img src="../static/img/photo_4.jpg" width="100%"/>
                </div>
            </div>
            <div class="item_PhotoContainer">
                <div class="item_PhotoCard">
                    <img src="../static/img/photo_5.jpg" width="100%"/>
                </div>
            </div>
            <div class="item_PhotoContainer">
                <div class="item_PhotoCard">
                    <img src="../static/img/photo_6.jpg" width="100%"/>
                </div>
            </div>
        </div>
        <div class="item_Blank"></div>
        <div class="item_TextTitle">
            오시는 길
        </div>
    </div>
</body>
</html>