<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wedding Invitation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link href="/css/index.css" rel="stylesheet" />
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=5ekq0jcx0v&callback=initMap"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
</head>
<body>
    <div class="container">
        <div class="item_Main">
            <img src="/img/main_img.jpg" style="width: 100%;" alt=""/>
        </div>
        <div class="item_TextTitle">
            결혼합니다.
        </div>
        <div class="item_TextArea">
            <p>새로운 마음과 새 의미를 간직하며</p>
            <p>저희 두 사람이 새 출발의 첫 걸음을 내딛습니다.</p>
            <p>좋은 꿈, 바른 뜻으로 올바르게 살 수 있도록</p>
            <p>축복과 격려 주시면 더 없는 기쁨으로</p>
            <p>간직하겠습니다.</p>
        </div>
        <div class="item_Blank"></div>
        <div class="item_Icon">
            <div style="float: left;">
                <i class="fas fa-male fa-3x"></i>
                <p>신랑측 연락하기</p>
            </div>
            <div style="float: right;">
                <i class="fas fa-female fa-3x"></i>
                <p>신부측 연락하기</p>
            </div>
        </div>
        <div class="item_Blank"></div>
        <div class="item_TextTitle">
            Wedding Photo
        </div>
        <div class="item_Photo">
            <div th:each="list : ${PhotoList}" class="item_PhotoContainer">
                <div class="item_PhotoCard" th:onclick="view_PhotoCard([[${list}]]);">
                    <img th:src="@{/img/} + ${list}" style="width:100%;" alt="" />
                </div>
            </div>
        </div>
        <div class="item_Blank"></div>
        <div class="item_TextTitle">
            오시는 길
        </div>
        <div class="item_LoadMap">
            <div id="map" style="width:100%; height:300px"></div>
        </div>
        <div class="item_Blank"></div>
        <div class="item_TextTitle">
            신랑 신부에게<br />
            축하인사 남겨주세요.
        </div>
        <div class="item_MessageInput">
            <form action="/msgSave" id="msgForm" method="post">
                <ul>
                    <li>
                        <span>Name</span>:
                        <input type="text" id="cmtName" name="cmtName" maxlength="10" required >
                    </li>
                    <li>
                        <span>Password</span>:
                        <input type="password" id="cmtPwd" name="cmtPwd" maxlength="16" required >
                    </li>
                    <li>
                        <span>Message</span>:
                        <input type="text" id="cmtMsg" name="cmtMsg" maxlength="300" required >
                    </li>
                </ul>
                <button type="submit" name="msgSubmit">축하메시지 남기기</button>  
            </form>
        </div>
        <div class="item_TextArea" th:if="${#strings.isEmpty(MsgList)}">
            <p>아직 작성된 메시지가 없습니다.</p>
        </div>
        <div class="item_MessageList" th:if="${not #strings.isEmpty(MsgList)}">
            <div th:each="list : ${MsgList}">
                <input type="hidden" th:value="${list.cmtId}" />
                <span th:text="${list.cmtName}" style="float: left">작성자</span>
                <span style="float: right">&nbsp;<i class="far fa-trash-alt" th:onclick="popup_DeleteBox([[${list.cmtId}]]);"></i></span>
                <span th:text="${list.createdDate}" style="float: right">작성날짜</span>
                <br />
                <p th:text="${list.cmtMsg}">메시지</p>
            </div>
        </div>
        <div id="popup_wrap" class="popup_wrap">
            <div class="popup_box">
                <input id="deleteId" type="hidden" />
                <form action="#" id="deleteMsg" method="post">
                    <ul>
                        <li>
                            <span class="popup_box_span">Password</span>:
                            <input id="deletePwd" type="password" name="deletePwd" maxlength="16" onblur="check_Pwd();"><br />
                        </li>
                    </ul>
                    <span id="alertPwd" class="popup_alert">!!!</span>
                    <div>
                        <button class="popup_btn" type="button" name="msgDelete" onclick="check_Pwd();" >삭제</button>
                        <button class="popup_btn" type="button" name="popupClose" onclick="close_Popup();" >취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/common.js" ></script>
    <script type="text/javascript">
        let map = null;
        let marker = null;
        let infowindow = null;
        let contentString = [
            '<div class="iw_inner">',
            '<p style="margin: 10px 5px; font-weight:bold">플로르 드 로토</p>',
            '<h5 style="margin: 10px 5px;">부산 부산진구 동평로 299 플로르 드 로토</h5>',
            '</div>'
        ].join('');

        function initMap() {
            map = new naver.maps.Map('map', {
                center: new naver.maps.LatLng(35.172422, 129.059622),
                zoom: 17,
                scaleControl: false,
                mapDataControl: false,
            });
            marker = new naver.maps.Marker({
            position: new naver.maps.LatLng(35.172422, 129.059622),
            map: map,
            });
            infowindow = new naver.maps.InfoWindow({
                content: contentString
            });
            infowindow.open(map,marker);
        }
    </script>
</body>
</html>